<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" />
    <Property Id="LAUNCH_VOIPCLOUD" Value="1" />
    <Property Id="OFFER_TASKBAR_PIN" Value="1" />

    <CustomAction
      Id="LaunchVoipCloud"
      FileKey="CM_FP_VoipCloud.exe"
      ExeCommand=""
      Execute="immediate"
      Impersonate="yes"
      Return="asyncNoWait" />
    <CustomAction
      Id="LaunchVoipCloudWithPinOffer"
      FileKey="CM_FP_VoipCloud.exe"
      ExeCommand="--offer-taskbar-pin"
      Execute="immediate"
      Impersonate="yes"
      Return="asyncNoWait" />

    <UI Id="VoipCloud_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Dialog
        Id="VoipCloudOptionsDlg"
        Width="370"
        Height="270"
        Title="[ProductName] Setup"
        NoMinimize="yes">
        <Control
          Id="Title"
          Type="Text"
          X="15"
          Y="6"
          Width="340"
          Height="18"
          Transparent="yes"
          NoPrefix="yes"
          Text="{\WixUI_Font_Title}Installation options" />
        <Control
          Id="Description"
          Type="Text"
          X="25"
          Y="30"
          Width="320"
          Height="24"
          Transparent="yes"
          NoPrefix="yes"
          Text="Choose how VoipCloud should be set up. These options are selected by default." />
        <Control
          Id="DesktopShortcut"
          Type="CheckBox"
          X="30"
          Y="75"
          Width="310"
          Height="18"
          Property="CREATE_DESKTOP_SHORTCUT"
          CheckBoxValue="1"
          Text="Create a desktop shortcut" />
        <Control
          Id="LaunchApplication"
          Type="CheckBox"
          X="30"
          Y="105"
          Width="310"
          Height="18"
          Property="LAUNCH_VOIPCLOUD"
          CheckBoxValue="1"
          Text="Launch VoipCloud after installation" />
        <Control
          Id="OfferTaskbarPin"
          Type="CheckBox"
          X="30"
          Y="135"
          Width="310"
          Height="18"
          Property="OFFER_TASKBAR_PIN"
          CheckBoxValue="1"
          Text="Offer to pin VoipCloud to the taskbar after launch" />
        <Control
          Id="Back"
          Type="PushButton"
          X="180"
          Y="243"
          Width="56"
          Height="17"
          Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control
          Id="Next"
          Type="PushButton"
          X="236"
          Y="243"
          Width="56"
          Height="17"
          Default="yes"
          Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        <Control
          Id="Cancel"
          Type="PushButton"
          X="304"
          Y="243"
          Width="56"
          Height="17"
          Cancel="yes"
          Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchVoipCloudWithPinOffer" Order="1"><![CDATA[REMOVE <> "ALL" AND OFFER_TASKBAR_PIN = "1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchVoipCloud" Order="2"><![CDATA[REMOVE <> "ALL" AND OFFER_TASKBAR_PIN <> "1" AND LAUNCH_VOIPCLOUD = "1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VoipCloudOptionsDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="VoipCloudOptionsDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
